In [3]:
import pandas as pd

In [30]:
df = pd.DataFrame({'a':[10,20,30],'b':[5,6,7],'c':[1,2,3]})
df

    a  b  c
0  10  5  1
1  20  6  2
2  30  7  3

In [31]:
df.insert(1,'d','Python')
df

    a       d  b  c
0  10  Python  5  1
1  20  Python  6  2
2  30  Python  7  3

In [32]:
df.insert(1,'d','python',allow_duplicates=True)
df

    a       d       d  b  c
0  10  python  Python  5  1
1  20  python  Python  6  2
2  30  python  Python  7  3

In [40]:
df.insert(1,'d','python',allow_duplicates=False)
df

ValueError: cannot insert d, already exists

In [39]:
df.insert(1,'g','python',allow_duplicates=False)
df

    a       g         f         e       d       d  b  c
0  10  python  scienece  scienece  python  Python  5  1
1  20  python  scienece  scienece  python  Python  6  2
2  30  python  scienece  scienece  python  Python  7  3

In [36]:
df.insert(1,'e','scienece',allow_duplicates=True)
df

    a         e       d       d  b  c
0  10  scienece  python  Python  5  1
1  20  scienece  python  Python  6  2
2  30  scienece  python  Python  7  3

In [38]:
df.insert(1,'f','scienece',allow_duplicates=False)
df

    a         f         e       d       d  b  c
0  10  scienece  scienece  python  Python  5  1
1  20  scienece  scienece  python  Python  6  2
2  30  scienece  scienece  python  Python  7  3

In [ ]:
df.insert(1,'f','scienece',allow_duplicates=False)
df